// autostart applications
spawn-at-startup "foot"

// general settings
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// environment variables
environment {
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    GDK_BACKEND "wayland"
    MOZ_ENABLE_WAYLAND "1"
    //DISPLAY null  // 明确禁用 X11
    XMODIFIERS "@im=fcitx"
    //GTK_IM_MODULE "fcitx"
    //QT_IM_MODULE "fcitx"
    //INPUT_METHOD "fcitx"
    //SDL_IM_MODULE "fcitx"
    // 注意：GLFW 通常更认 ibus，但 fcitx5 有时兼容。如果无效可以尝试改成 "fcitx"
    //GLFW_IM_MODULE "fcitx"
}

// cursor setting
cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 12
    hide-when-typing
    hide-after-inactive-ms 1000
}

// overview setting
overview {
    zoom 0.4
    backdrop-color "#151622"

    workspace-shadow {
        off
        softness 40
        spread 10
        offset x=0 y=10
        color "#00000090"
    }
}

// clipboard setting
clipboard {
    disable-primary
}

// hotkey overlay
hotkey-overlay {
    skip-at-startup
}

// workspace definitions
//workspace "Term"
//workspace "Browser"
//workspace "Reading"
//workspace "Game"

// window rules
// tanslate zenity
window-rule {
    match app-id="zenity" title="Translate"
    open-floating true
    default-floating-position x=2245 y=1275
}
// floating foot
window-rule {
    match app-id="floatingfoot"
    open-floating true
    //    default-floating-position x=350 y=50
    //    min-width 1000
    //    min-height 900
}
// floating foot with sdcv
window-rule {
    match app-id="floatingfoot_translate"
    open-floating true
    //    default-floating-position x=950 y=50
    //    min-width 50
    //    min-height 500
}
// zathura
//window-rule {
//    match app-id="org.pwmt.zathura"
//    open-on-workspace "Reading"
//    open-maximized true
//}
//// firefox
//window-rule {
//    match app-id=r#"org\.qutebrowser\.qutebrowser$"#
//    open-on-workspace "Browser"
//    open-maximized true
//}
//// prismlauncher
//window-rule {
//    match app-id=r#"^org\.prismlauncher\.PrismLauncher$"#
//    open-on-workspace "Game"
//}
// Minecraft game-window
window-rule {
    match title="^Minecraft"
    open-maximized true
    //open-on-workspace "Game"
}
// Block out password managers from screencasts
window-rule {
    //match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    //match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screencast"
}
// Indicate screencasted windows with red colors
window-rule {
    match is-window-cast-target=true
    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
    border {
        inactive-color "#7d0d2d"
    }
    shadow {
        color "#7d0d2d70"
    }
    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

// input devices
input {
    keyboard {
        xkb {
            layout "us"
            //options "caps:escape"
        }
        numlock
        //repeat-delay 200   // 更合理的按键重复延迟
        //repeat-rate 30     // 重复速率
    }

    touchpad {
        //off
        tap
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }
}

// output setting
//output "eDP-1" {
output "DP-3" {
    // 打开niri msg outputs,查看屏幕支持的刷新率
    //mode "2560x1600@240.000"
    //mode "2560x1440@179.999"
    mode "1920x1080@100.000"
    // Screen scaling (1.5 = 150%)
    //scale 3
    //scale 2
    scale 1.5
    //scale 1.25
    // Screen rotation (normal, 90, 180, 270, flipped, etc.)
    transform "normal"
    //position x=1280 y=0
    background-color "#151622"
}

// layout setting
layout {
    gaps 2
    default-column-display "normal"
    background-color "#1e2030"
    preset-column-widths {
        proportion 0.49
        proportion 0.61
        proportion 0.73
    }
    preset-window-heights {
        proportion 0.25
        proportion 0.5
        proportion 1.0
    }

    default-column-width { proportion 0.49; }       // 设置默认column宽度

    focus-ring {
        width 1
        active-color "#b4befe"
        inactive-color "#a9b5d5"
    }
    border {
        //off
        width 2
        active-color "#b4befe"
        inactive-color "#2e3048"
        //urgent-color "#607bc3"
    }
    tab-indicator {
        // off
        hide-when-single-tab
        place-within-column
        gap 5
        width 5
        length total-proportion=1.0
        position "left"
        gaps-between-tabs 2
        corner-radius 5
        active-color "#a0d0a0"
        inactive-color "#585e8f"
        urgent-color "#f08080"
    }
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    // Margins
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

// animations
animations {
    off
    slowdown 1.5
}

// key bindings
binds {
    // Window Tab
    Mod+W { toggle-column-tabbed-display; }    
    Mod+I { consume-window-into-column; }
    Mod+U { expel-window-from-column; }

    // Window management
    Win+O repeat=false { toggle-overview; }         // 工作区全视图
    Mod+Q { focus-column-left; }                    // 切换到左边一个窗口
    Mod+H { focus-column-left; }                    // 切换到左边一个窗口
    Mod+E { focus-column-right; }                   // 切换到右边一个窗口
    Mod+L { focus-column-right; }                   // 切换到右边一个窗口
    Mod+J { focus-window-down; }                   // 切换到下面一个窗口
    Mod+K { focus-window-up; }                   // 切换到上面一个窗口
    Mod+Shift+Q { close-window; }                   // 关闭窗口
    Mod+Shift+L { move-column-right; }              // 移动窗口到左边一个
    Mod+Shift+H { move-column-left; }               // 移动窗口到右边一个
    Mod+Shift+J { move-column-to-workspace-down; }  // 移动窗口到下一个工作区
    Mod+Shift+K { move-column-to-workspace-up; }    // 移动窗口到上一个工作区
    Mod+Alt+H { focus-column-first; }              // 切换到第一个窗口
    Mod+Alt+L { focus-column-last; }               // 切换到最后一个窗口
    Mod+Ctrl+Shift+H { move-column-to-first; }      // 移动窗口到第一个窗口
    Mod+Ctrl+Shift+L { move-column-to-last; }       // 移动窗口到最后一个窗口

    // Workspace navigation
    Alt+1 { focus-workspace 1; }
    Alt+2 { focus-workspace 2; }
    Alt+3 { focus-workspace 3; }
    Alt+4 { focus-workspace 4; }
    Alt+5 { focus-workspace 5; }
    Alt+6 { focus-workspace 6; }
    Alt+7 { focus-workspace 7; }
    Alt+8 { focus-workspace 8; }
    Alt+9 { focus-workspace 9; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Window sizing
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }
    Mod+Ctrl+H { set-column-width "-10%"; }
    Mod+Ctrl+L { set-column-width "+10%"; }
    Mod+Ctrl+K { set-window-height "-10%"; }
    Mod+Ctrl+J { set-window-height "+10%"; }
    Mod+Alt+O { switch-preset-window-height; }
    Mod+Alt+P { switch-preset-column-width; }
    // Show shortcuts
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Window floating
    Mod+V   { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Screenshots
    Ctrl+Alt+Shift+P { screenshot; }
    Ctrl+Alt+Shift+S { screenshot-screen; } // 整个屏幕截图
    Ctrl+Alt+S { screenshot-window; }       // 当前column 截图

    // Application launchers
    Mod+Return { spawn "foot"; }
    Mod+Shift+Return { spawn "foot" "-a" "floatingfoot"; }
    //sdcv 翻译
    //Mod+T { spawn "foot" "-a" "floatingfoot_translate" "sdcv"; }
    Mod+D { spawn "wmenu-run" "-i" "-f" "0xProto Nerd Font Regular 12" "-N" "#1f2032" "-n" "#a9b5d5" "-S" "#a0d0a0" "-s" "#151622"; }
    Alt+I { spawn "sh" "-c" "$HOME/.local/bin/site"; }
    Alt+M { spawn "sh" "-c" "$HOME/.local/bin/pm"; }
    Alt+N { spawn "sh" "-c" "$HOME/.local/bin/bjwd"; }
    Alt+C { spawn "sh" "-c" "$HOME/.local/bin/config"; }
    Alt+P { spawn "sh" "-c" "$HOME/.local/bin/pdf"; }
    Alt+E { spawn "sh" "-c" "$HOME/.local/bin/clipbd"; }
    Alt+Q { spawn "sh" "-c" "$HOME/.local/bin/calculator"; }
    Alt+O { spawn "sh" "-c" "$HOME/.local/bin/weather"; }
    Alt+H { spawn "sh" "-c" "$HOME/.local/bin/tools-tip"; }
    Alt+T { spawn "sh" "-c" "$HOME/.local/bin/translate"; }
    Alt+Y { spawn "makoctl" "dismiss" "-a"; }

    // System controls
    Ctrl+Shift+Space { spawn "swaylock" "-f" "-c" "151622"; }
    Mod+Shift+P { power-off-monitors; }

    // Audio controls
    XF86AudioRaiseVolume {
    spawn "sh" "-c" "$HOME/.local/lib/shell/system/volume-up.sh"; }
    XF86AudioLowerVolume {
    spawn "sh" "-c" "$HOME/.local/lib/shell/system/volume-down.sh"; }
    XF86AudioMute {
    spawn "sh" "-c" "$HOME/.local/lib/shell/system/volume-mute.sh"; }
    Ctrl+Alt+0 {
    spawn "sh" "-c" "$HOME/.local/lib/shell/system/volume-up.sh"; }
    Ctrl+Alt+9 {
    spawn "sh" "-c" "$HOME/.local/lib/shell/system/volume-down.sh"; }
    Ctrl+Alt+8 {
    spawn "sh" "-c" "$HOME/.local/lib/shell/system/volume-mute.sh"; }

    // 屏幕亮度
    Ctrl+Alt+Shift+0 {
    spawn "sh" "-c" "$HOME/.local/lib/shell/system/brightness-up.sh"; }
    Ctrl+Alt+Shift+9 {
    spawn "sh" "-c" "$HOME/.local/lib/shell/system/brightness-down.sh"; }

    //录制视频
    Ctrl+Alt+Shift+6 {
    spawn "sh" "-c" "$HOME/.local/lib/shell/utils/record-screen.sh start"; }
    Ctrl+Alt+Shift+7 {
    spawn "sh" "-c" "$HOME/.local/lib/shell/utils/record-screen.sh stop"; }

    // 系统信息
    Ctrl+Alt+Shift+I { spawn "sh" "-c" "$HOME/.local/lib/shell/system/system-status.sh"; }

    // mc 游戏中文输入实现
    Shift+Return {
    spawn "sh" "-c" "$HOME/.local/lib/shell/utils/minecraft-input.sh"; }
}
