// ========== Autostart Applications ==========
spawn-at-startup "waybar"
spawn-at-startup "qutebrowser"
spawn-at-startup "prismlauncher"
spawn-at-startup "foot"
//spawn-at-startup "swayidle" "-w" "timeout" "601" "niri msg action power-off-monitors" "timeout" "600" "swaylock -f -c 151622" "before-sleep" "swaylock -f -c 151622"
//spawn-at-startup "alacritty"

// ========== General Settings ==========
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// ========== Environment Variables ==========
environment {
//    QT_QPA_PLATFORM "wayland"
//    DISPLAY null
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    GDK_BACKEND "wayland"
    MOZ_ENABLE_WAYLAND "1"
    DISPLAY null  // 明确禁用 X11
}

// ========== Cursor Settings ==========
cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 20
    hide-when-typing
    hide-after-inactive-ms 1000
}

// ========== Overview Settings ==========
overview {
    zoom 0.4
    backdrop-color "#151622"

    workspace-shadow {
        // off
        softness 40
        spread 10
        offset x=0 y=10
        color "#00000090"
    }
}

// ========== Clipboard Settings ==========
clipboard {
    disable-primary
}

// ========== Hotkey Overlay ==========
hotkey-overlay {
    skip-at-startup
}

// ========== Workspace Definitions ==========
workspace "Terminal"
workspace "Browser"
workspace "Reading"
workspace "Minecraft"

// ========== Window Rules ==========
// foot
window-rule {
    match app-id=r#"foot$"#
    open-on-workspace "Terminal"
    //open-maximized true
}
// floating foot
window-rule {
    match app-id="floatingfoot"
    open-on-workspace "Terminal"
    open-floating true
    default-floating-position x=350 y=50
    min-width 1000
    min-height 900
}
// zathura
window-rule {
    match app-id="org.pwmt.zathura"
    open-on-workspace "Reading"
    open-maximized true
}
// firefox
window-rule {
    match app-id=r#"org\.qutebrowser\.qutebrowser$"#
    open-on-workspace "Browser"
    open-maximized true
}
// prismlauncher
window-rule {
    match app-id=r#"^org\.prismlauncher\.PrismLauncher$"#
    open-on-workspace "Minecraft"
}
// Minecraft game-window
window-rule {
    match title="^Minecraft"
    open-maximized true
    block-out-from "screencast"
    open-on-workspace "Minecraft"
}
// Block out password managers from screencasts
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screencast"
}
// Indicate screencasted windows with red colors
window-rule {
    match is-window-cast-target=true
    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
    border {
        inactive-color "#7d0d2d"
    }
    shadow {
        color "#7d0d2d70"
    }
    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

// ========== Input Devices ==========
input {
    keyboard {
        xkb {
            layout "us"    // 明确键盘布局
            //options "caps:escape"  // 将CapsLock映射为Esc
        }
        numlock
        repeat-delay 250   // 更合理的按键重复延迟
        repeat-rate 30     // 重复速率
    }

    touchpad {
        //off
        tap
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }
}

// ========== Output Configuration ==========
output "eDP-1" {
    mode "2560x1600@240.000"
    // Screen scaling (1.5 = 150%)
    scale 1.5
    // Screen rotation (normal, 90, 180, 270, flipped, etc.)
    transform "normal"
    //position x=1280 y=0
    background-color "#151622"
}

// ========== Layout Settings ==========
layout {
    gaps 4
    center-focused-column "never"
    //always-center-single-column
    //default-column-display "tabbed"
    default-column-display "normal"
    preset-column-widths {
        proportion 0.49
        proportion 0.61
        proportion 0.73
    }
    preset-window-heights {
        proportion 0.25
        proportion 0.5
        proportion 1.0
    }

    default-column-width { proportion 0.49; }       // 设置默认column宽度

    focus-ring {
        width 2
        active-color "#f08"
        inactive-color "#a9b5d5"
    }
    border {
        off
        //width 2
        //active-color "#a9b5d5"
        //inactive-color "#151622"
        //urgent-color "#607bc3"
    }
    tab-indicator {
        // off
        hide-when-single-tab
        place-within-column
        gap 5
        width 4
        length total-proportion=1.0
        position "bottom"
        gaps-between-tabs 2
        corner-radius 8
        active-color "#a0d0a0"
        inactive-color "#585e8f"
        urgent-color "#f08080"
    }
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    // Margins
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

// ========== Animations ==========
animations {
    // off
    slowdown 1.5
}

// ========== Key Bindings ==========
binds {
    // Window Tab
   Mod+W { toggle-column-tabbed-display; }    
   Mod+I { consume-window-into-column; }
   Mod+U { expel-window-from-column; }

    // Window management
    Win+O repeat=false { toggle-overview; }         // 工作区全视图
    Mod+Q { focus-column-left; }                    // 切换到左边一个窗口
    Mod+H { focus-column-left; }                    // 切换到左边一个窗口
    Mod+E { focus-column-right; }                   // 切换到右边一个窗口
    Mod+L { focus-column-right; }                   // 切换到右边一个窗口
    Mod+J { focus-window-down; }                   // 切换到下面一个窗口
    Mod+K { focus-window-up; }                   // 切换到上面一个窗口
    Mod+Shift+Q { close-window; }                   // 关闭窗口
    Mod+Shift+L { move-column-right; }              // 移动窗口到左边一个
    Mod+Shift+H { move-column-left; }               // 移动窗口到右边一个
    Mod+Shift+J { move-column-to-workspace-down; }  // 移动窗口到下一个工作区
    Mod+Shift+K { move-column-to-workspace-up; }    // 移动窗口到上一个工作区
    Mod+Alt+H { focus-column-first; }              // 切换到第一个窗口
    Mod+Alt+L { focus-column-last; }               // 切换到最后一个窗口
    Mod+Ctrl+Shift+H { move-column-to-first; }      // 移动窗口到第一个窗口
    Mod+Ctrl+Shift+L { move-column-to-last; }       // 移动窗口到最后一个窗口
    
    // Workspace navigation
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    
    // Window sizing
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    //Mod+Ctrl+f { expand-column-to-available-width; }
    //Mod+Ctrl+C { center-visible-columns; }
    Mod+C { center-column; }
    Mod+Ctrl+H { set-column-width "-10%"; }
    Mod+Ctrl+L { set-column-width "+10%"; }
    Mod+Ctrl+K { set-window-height "-10%"; }
    Mod+Ctrl+J { set-window-height "+10%"; }
    Mod+Alt+O { switch-preset-window-height; }
    Mod+Alt+P { switch-preset-column-width; }
    // Show shortcuts
    Mod+Shift+Slash { show-hotkey-overlay; }
    
    // Window floating
    Mod+V   { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    
    // Screenshots
    Ctrl+Alt+Shift+P { screenshot; }
    Ctrl+Alt+Shift+S { screenshot-screen; } // 整个屏幕截图
    Ctrl+Alt+S { screenshot-window; }       // 当前column 截图

    // Application launchers
    Mod+Return { spawn "foot"; }
    Mod+Shift+Return { spawn "foot" "-a" "floatingfoot"; }
    Mod+D { spawn "wmenu-run" "-i" "-f" "0xProto Nerd Font Regular 12" "-N" "#1f2032" "-n" "#a9b5d5" "-S" "#a0d0a0" "-s" "#151622"; }
    
    // System controls
    Mod+Ctrl+Shift+Space { spawn "swaylock" "-f" "-c" "151622"; }
    //Mod+Shift+P { power-off-monitors; }
    
    // Audio controls
    XF86AudioRaiseVolume {
    spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    Ctrl+Alt+0 {
    spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
    XF86AudioLowerVolume {
    spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }
    Ctrl+Alt+9 {
    spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }
    XF86AudioMute {
    spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    Ctrl+Alt+8 {
    spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute  {
    spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    
    // Brightness controls
    XF86MonBrightnessUp { spawn "brightnessctl" "s" "5+"; }
    Ctrl+Alt+Shift+0 { spawn "brightnessctl" "s" "5+"; }
    XF86MonBrightnessDown  { spawn "brightnessctl" "s" "5-"; }
    Ctrl+Alt+Shift+9 { spawn "brightnessctl" "s" "5-"; }
    
    // mc 游戏中文输入实现
    Shift+Return {
        spawn "sh" "-c" "
        if ! pgrep ydotoold >/dev/null; then
            sudo ydotoold &
            sleep 1
        fi

        coproc ZENITY {
            zenity --entry 2>/dev/null
        }
        sleep 0.5
        fcitx5-remote -t

        read -u \"${ZENITY[0]}\" INPUT

        if [ -n \"$INPUT\" ]; then
            echo \"$INPUT\" | wl-copy
            sudo ydotool key 29:1 47:1 47:0 29:0 14:1 14:0
        fi
        "
    }
    //Mod+t { spawn "~/scripts/scripts_tools/mcinput.sh"; }
}
